site_name: side-projects/retail-lakehouse
docs_dir: docs
nav:
  - index.md
  - prerequisites.md
  - Kafka:
    - cdc/overview.md
    - cdc/deployment-kafka-cluster.md
    - cdc/deployment-mysql.md
    - cdc/deployment-debezium-mysql-connector.md
    - cdc/deployment-iceberg-connector.md
  - Trino:
    - trino/how-it-works.md
    - trino/deployment.md
    - trino/oauth2.md
    - trino/fault-tolerance.md
    - trino/catalogs.md
    - trino/faker.md
    - trino/join-optimization.md
  - MinIO:
    - minio/deployment.md
  - Observability:
    - observability/overview.md
    - observability/prometheus/how-prometheus-works.md
    - observability/prometheus/prometheus-deployment.md
    - observability/thanos/how-thanos-works.md
    - observability/thanos/thanos-deployment.md
    - observability/opentelemetry/what-is-opentelemetry.md
    - observability/opentelemetry/how-opentelemetry-works.md
    - observability/opentelemetry/opentelemetry-deployment.md
    - trino/monitoring.md
  - Apache Iceberg - Spark Quickstart:
      - iceberg/spark-quickstart/deployment.md
      - iceberg/spark-quickstart/1-iceberg-getting-started.ipynb
      - iceberg/spark-quickstart/2-iceberg-integrated-audits-demo.ipynb
      - iceberg/spark-quickstart/3-iceberg-table-maintenance-spark-procedures.ipynb
      - iceberg/spark-quickstart/4-iceberg-wap-with-branches.ipynb
      - iceberg/spark-quickstart/5-iceberg-view-support.ipynb


theme:
  name: material
  features:
    - content.tabs.link
    - content.code.copy
    - content.code.annotate 

markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - footnotes
  - def_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.snippets:
      url_download: true
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.details
  - pymdownx.blocks.caption
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - glightbox
  - search
